@import 'base/normalize';
@import 'base/variables';
@import url('https://fonts.googleapis.com/css?family=Modern+Antiqua|Roboto');

// General
body{
    background-color: $paper;
    color: $primary;
    font-family: 'Roboto', sans-serif;
}

.flex-container{
    display: flex;
    width: 100%;
}

.flex-item{
    display: inline-flex;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.active{
    color: $primary;
    font-weight: bold;
}
.highlight{
    background-color: #00ff626e;
}
.d-mobile{
    display: none;
}

// Desktop
h1, h2{
    font-family: 'Modern Antiqua', cursive;
    font-size: 1.4rem;
}

header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$ternary+0$primary+100 */
    background: $secondary; /* Old browsers */
    background: -moz-linear-gradient(top, $secondary 0%, $primary 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $secondary 0%,$primary 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $secondary 0%,$primary 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondary', endColorstr='$primary',GradientType=0 ); /* IE6-9 */    width: 100%;
    height: 3.5rem;

    h2{
        margin: 0 2rem;
        line-height: 3.5rem;
        color: #ffffff;
        opacity: 0.8;
    }
}

#nav__pages{
    list-style: none;
    padding: 0;
    margin: 1rem auto;
    li{
        display: block;
        margin: 1.5rem;
        cursor: pointer;
        text-align: center;
    }

}
.navigation{
    background: $left;
    color: #333;
    width: 25%;
    height: 100vh;
    padding: 0;
}
.contents{
    background: $paper;
    width: 75%;
    padding: 5%;
    color: #424242;
}
.navigation,
.contents {
  text-align: left;
  line-height: 2rem;
}



/* TABLET */
@media screen and (max-width: 768px) {
    header>h2{
        font-size: 1.1rem;
        margin: 0 1rem;
    }
    // left nav
    #nav__pages{
        li{
            font-size: 1rem;
            margin: 1.5rem 0;
        }
    }
    .navigation{
        background: $left;
        color: #333;
        width: 30%;
        height: 100vh;
        padding: 0;
    }
  }
  
  /* MOBILE */
  @media screen and (max-width: 425px) {
    .d-mobile{
        display: block;
    }
    header{
        overflow: hidden;

        h2{
            font-size: 0.7rem;
            margin: 0 1rem;
        }
    }
    .flex-container, .flex-item{
        display: block;
    }
    #nav__pages{
        margin: 0;
        li{
            margin: 0 auto;
            font-size: 0.8rem;
            margin: 0;
            border-bottom: $secondary 1px solid;
        }

    }
    #nav__toggle{
        display: inline-block;
        margin: 10px;
        cursor: pointer;
        position: relative;
        width: 32px;
        height: 28px;
        .bar{
            border: #7a7a7a 1px solid;
            display: inline-block;
            width: 30px;
            position: absolute;
        }
        .bar2{
            position: relative;
            top: -8px;
        }
        .bar3{
            position: relative;
            top: -30px;
        }
    }
    .navigation{
        width: 100%;
        height: 0;
        text-align: right;
    }
    #nav__pages{
        display: none;
        overflow-y: scroll;
        height: 20vh;
        padding: 0;
    }
    #nav__pages.nav__open{
        display: block;
    }
    #nav__pages.nav__close{
        display: none;
    }
    .contents--add-margin{
        margin: 25vh 1rem 3rem 1rem;
    }
    .contents--remove-margin{
        margin-top: 0vh  1rem 3rem 1rem;
    }

  }